---
const description = "";
const url = "";
import "../css/main.css";
import MainLayout from "../layouts/MainLayout.astro";
import Heading1andP from "../components/Heading1andP.astro";
import LostAndFound from "../components/LostAndFound.jsx";
import Hero from "../components/Hero.astro";
import heroImage from "../images/heroHittegods.webp";
import BlueCross from "../components/BlueCross.astro";
import Contact from "../components/Contact.astro";
import { FAQ } from "../components/FAQ.jsx";
---

<MainLayout title="Kundeservice/hittegods">
  <Hero
    heroTitle="Hittegods"
    heroDescription="Find dine mistede ejendele her eller få hjælp til at anmelde en tabt genstand"
    heroImage={heroImage}
    heroImageAlt="Hittegods i lufthavnen billede"
  />
  <main>
    <Heading1andP
      pageHeading="Har du mistet noget i lufthavnen?"
      paragraph="På listen nedenfor kan du finde alle indleverede genstande, som registreret af hittegods. Genstandene beholdes i 3 døgn efter vi har modtaget dem, hvorefter de sendes til politiets hittegodsafdeling."
    />
    <div class="py-8 w-full"><LostAndFound client:load /></div>
    <div>
      <h2>Fandt du ikke din genstand på listen?</h2>
      <p>
        Mindre værdifulde genstand, som for eksempel tøj og bøger registreres
        ikke, men opbevares af hittegods i 4 uger. Se mere information i
        spørgsmål og svar i bunden af siden.
      </p>
      <p>
        Nogle typer genstande, som for eksempel pas og penge, sendes direkte til
        Københavns Politis hittegodskontor. Se mere information i spørgsmål og
        svar i bunden af siden.
      </p>
    </div>
    <div class="flex gap-2 items-stretch flex-col lg:flex-row pt-4">
      <Contact />
      <BlueCross />
    </div>
    <FAQ
      client:load
      headlineText="Ofte stillede spørgsmål"
      paragraphText="Her kan du finde svar på de oftest stillede spørgsmål omkring hittegods."
      faqQuestions={[
        {
          question: "Hvilke genstande registrerer Hittegods ikke?",
          answer:
            "Antallet af indcheckede bagagestykker, håndbagage og personlige genstande varierer afhængigt af din billettype, destination og de specifikke regler fastsat af dit flyselskab. Derfor anbefaler vi, at du læser nærmere på dit flyselskabs hjemmeside for yderligere information. Du kan finde linket til dit flyselskabs hjemmeside samt eventuelle kontaktoplysninger linket nedenfor.",
        },
        {
          question: "Hvad bliver sendt til politiets hittegodskontor?",
          answer:
            "Du bør altid ankomme til lufthavnen i god tid inden din afgang, da der kan forekomme kø ved check-in, sikkerhedskontrol og paskontrol. Vi anbefaler generelt at ankomme til lufthavnen 2 1/2 timer før afgang på flyvninger inden for Schengen-området og 3 timer før for flyvninger uden for Schengen-området. Bemærk venligst, at disse tider henviser til den første destination på din rejse. For eksempel, hvis du har et mellemlanding i Tyskland på en flyvning til Asien, anbefaler vi at ankomme 2 1/2 timer før afgang, da din første destination er inden for Schengen. For yderligere information om afgangsterminaler, check-in, bagageregler og kontaktoplysninger for dit flyselskab kan du på linket nedenfor.",
          text: "Politiets hittegods",
          hyperRef: "/",
        },
        {
          question: "Hvor længe opbevarer hittgods værdigenstande?",
          answer:
            "Det hittegods, som vi registrerer, opbevarer vi i op til 3 dage, hvor du så kan claime din glemte genstand, samt vælge enten af afhente den eller få den sendt med posten. Efter de tre dage afhenter Politiets Hittegodskontor de glemte genstande og overtager al service i den forbindelse.",
          text: "Politiets hittegods",
          hyperRef:
            "https://politi.dk/politikredse/koebenhavns-politi/koebenhavns-politi-hittegodskontor",
        },
        {
          question: "Kan jeg hente min glemte genstand i lufthavnen?",
          answer:
            "Du kan få tilsendt de genstande du har claimet eller selv hente dem i lufthavnen. Ved forsendelse opkræves der et administrationsgebyr på 205 dkk samt et beløb for forsendelsen, jf. Postnords prisliste.",
          text: "Handlingselskaber",
          hyperRef:
            "https://politi.dk/politikredse/koebenhavns-politi/koebenhavns-politi-hittegodskontor",
        },
      ]}
    />
  </main>
</MainLayout>

<style>
  h2 {
    color: var(--cph-blue);
    font-size: var(--fs-4);
    font-weight: var(--fw-semi-bold);

    @media (width<1024px) {
      font-size: var(--fs-5);
    }
    @media (width<482px) {
      font-size: var(--fs-6);
    }
  }
  p {
    color: var(--grey-text);
    font-size: var(--fs-large);
    text-wrap: pretty;

    &:not(:first-of-type) {
      margin-top: 16px;
    }

    @media (width<1024px) {
      font-size: var(--fs-p);
    }
  }
</style>
