---
const description = "";
const url = "";
import "../css/main.css";
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";
import heroImage from "../images/temp.jpg";
import FrontPageCard from "../components/FrontPageCard.astro";
import { FAQ } from "../components/FAQ";
---

<MainLayout title="Kundeservice">
  <Hero
    heroTitle="Kundeservice"
    heroDescription="Temporary Text"
    heroImage={heroImage}
    heroImageAlt="temp alt text"
  />
<main>
  <Grid type="2+2" class="px-10 max-w-[1024px] mx-auto gap-5">
    <FrontPageCard
      cardIcon=""
      cardTitle="Parkering"
      cardDescription="Se og verificér din parkering her"
      targetLocation="/parkering"
    />
    <FrontPageCard
      cardIcon=""
      cardTitle="Security"
      cardDescription="Læs om vigtig information og sikkerhed her"
      targetLocation="/security"
    />
    <FrontPageCard
      cardIcon=""
      cardTitle="Hittegods"
      cardDescription="Tjek om dine ejendele er registreret hos os"
      targetLocation="/hittegods"
    />
    <FrontPageCard
      cardIcon=""
      cardTitle="Kontakt"
      cardDescription="Henvendelse vedrørende CPH lufthavne"
      targetLocation="/kontakt"
    />
  </Grid>

  <FAQ
    client:load
    faqQuestions={[
      {
        question: "Hvordan kontakter jeg kundeservice?",
        answer:
          "Du kan kontakte kundeservice på telefon 12345678 eller på mail",
      },
      {
        question: "Hvordan kontakter jeg kundeservice?",
        answer:
          "Du kan kontakte kundeservice på telefon 12345678 eller på mail",
      },
      {
        question: "Hvordan kontakter jeg kundeservice?",
        answer:
          "Du kan kontakte kundeservice på telefon 12345678 eller på mail",
      },
    ]}
  />
</main>
</MainLayout>

<style></style>
