---
const { cardIcon, cardTitle, cardDescription, targetLocation } = Astro.props;
import logo from "../images/logo.webp";
---

<a href={targetLocation} class="h-full">
  <div
    class="flex flex-col-reverse shadow-card p-10 gap-3 justify-end items-center rounded-xl h-full xl:flex-row xl:justify-center xl:items-start"
  >
    <!-- Temporary src logo until we import all logos needed -->
    <div>
      <p class="font-bold mt-2">{cardTitle}</p>
      <p class="text-small">{cardDescription}</p>
    </div>
    <img src={logo.src} width={50} height={50} class="self-center" />
  </div>
</a>
